body{
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgba(0, 0, 0, 0.85);
  color: whitesmoke;

  background-image: url(https://images.unsplash.com/photo-1585924775990-bd3f24bbc72e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
}

.symbol, .display{
  font-size: 1.5rem;
}
.display{

}

nav{
  background-color: black;

  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 1px double white;
}


#container-print {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  /* position: absolute; */
  top: 5rem;
  left: 1rem;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;

  margin-left: 2rem;
  align-items: center;
  gap: 10px;
}

.print, .share {
  cursor: pointer;
  color: whitesmoke;
}

.share{
  visibility: hidden;
}

#contact{
  display: flex;
}

#print-contact{
  display: flex;
  width: 35vw;
  justify-content: space-between;
}

i{
  color: white;
}

.nav-btns{
  margin: 5px;
  align-self: center;
}

#container-sel-control{
  display: flex;
  justify-content: end;
  gap: 1rem;
  align-self: center;
}
#show-curr{
  border: 1px solid whitesmoke;
  padding: 0.5rem;
  width: fit-content;
  font-size: 0.9rem;
  margin: 0;
  
  transition: 400ms;
  cursor: pointer;
}

#show-curr:hover{
  background-color: rgba(245, 245, 245, 0.2);
}

h1{
  text-align: center;
  background-color: black;
  margin: 0;
  padding: 1rem 0;
}

hr{
  margin: 0;
}


#container-curr{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black;

  gap: 1rem;
  width: 100%;
  margin: auto;
  transition: 400ms;
  
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.show-container-curr{
  padding: 1rem 0;
  transition: 400ms;
  visibility: visible !important;
  opacity: 1 !important;
  height: auto !important;
}

.curr{
  border: 1px solid whitesmoke;
  padding: 0.5rem;
  width: fit-content;
  font-size: 1.2rem;
}

.curr:hover{
  font-weight: bold;
  transform: 350ms;
  background-color: rgba(245, 245, 245, 0.1);
  box-shadow: 0px 0px 10px 5px rgba(245, 245, 245, 0.4);
}

.container-symbol{
  display: flex;
  flex-direction: column;
  width: min-content;
  text-align: center;
  align-items: center;
}

sub{
  font-size: 15px;
}

#main{
  width: 85%;
  margin: auto;
  background-color: rgb(0, 0, 0);
  height: 100%;

  /* padding: 2rem auto; */
}

.list{
  height: 30vh;
  overflow-y: auto;
}

#container-g-e {
  display: flex;
  justify-content: space-evenly;
  /*
      #name, #amt {
          display: flex;
          align-items: center;
          justify-content: center;
      }*/
}
.container {
  padding: 1.5rem;
  width: 50%;
}

#container-gross{
  border-right: 3px whitesmoke double;
}

.input-grid-income, .input-grid-expenses{
  margin-bottom: 1rem;
  font-family: inherit;
}

#container-expenses{
  border-left: 3px black double;
  text-align: right;
}

#container-g-e #container-gross {
  grid-template-columns: 1fr;
}
#container-g-e #confirmed-table, #container-g-e #name, #container-g-e #amt {
  border: 5px solid black;
}


input[type=text], input[inputmode=numeric]{
  background-color: rgba(245, 245, 220, 0);
  color: whitesmoke;
  font-family: inherit;
  font-size: 1.15rem;
  width: 13rem;

  border: none;
  border-bottom: double;
}



#container-btns{
  display: flex;
  flex-direction: column;
}

#container-rem-clear{
  display: flex;
  justify-content: space-around;
}

#remove-row-inc, #clear-inc, #remove-row-exp, #clear-exp{
  border: 2px whitesmoke solid;
  padding: 0.7rem;
  font-size: 1rem;
}

#clear-inc{
  
}

#container-add-src, #container-add-exp{
  margin: 2rem auto 0 auto;
}

#add-source-inc, #add-source-exp{
  border: 1px white solid;
  transition: 500ms;
  cursor: pointer;
  text-align: center;
  width: 10rem;
  /* padding: 0.15rem; */
}

#add-source-inc:hover{
  box-shadow: 0px 3px 20px 10px gold;
}

#add-source-exp:hover{
  box-shadow: 0px 3px 20px 10px darkred;
}

.btn{
  transition: 400ms;
  cursor: pointer;
  text-align: center;
}

.btn:hover{
  background-color: rgba(250, 235, 215, 0.1);
}

.h2{
  text-align: center;
}


#container-net {
  width: 75%;
  margin: 4rem auto 0 auto;
  padding-bottom: 2rem;
}

#container-net #h2 {
  text-align: center;
}/*# sourceMappingURL=budget.css.map */

#net{
  text-align: center;
}

#net span{
  font-size: 2rem;

}

footer {
  height: 2.5rem;
  background-color: black;
  overflow: hidden;
}

footer p {
  color: antiquewhite;
  font-size: 1.15rem;
  margin: 0;
  text-align: center;
  padding: 0.5rem 0;
}
